<!-- Footer-->
<footer class="container mb-10  ">
    <h6 class="display-2 tracking-wide mb-3" data-aos="slide-up">Let's get in touch!</h6>
    <a href="#" class="text-warning display-6 font-serif tracking-wide text-decoration-none" data-aos="reveal-right" data-aos-delay="1200">juliaelenfischer@gmail.com</a>

    <ul class="list-unstyled d-flex mt-5 mb-4" data-aos="fade-up">
        <li class="me-7"><a class="text-body text-decoration-none" target="_blank" href="https://www.instagram.com/jjefisch/">Instagram</a></li>
        <li class="me-7"><a class="text-body text-decoration-none"target="_blank" href="https://www.linkedin.com/in/juliaelenfischer/">LinkedIn</a></li>
        <li class="me-7"><a class="text-body text-decoration-none"target="_blank" href="https://github.com/Juliaelenfischer">GitHub</a></li>
    </ul>

    <p class="text-muted" data-aos="fade-up">All rights reserved. © Julia Elen Fischer. Developed by <a href="https://wriloven-tau.vercel.app/" target="_blank">Wriloven</a></p>

</footer>
<!-- / Footer-->

<!-- Modal Imports-->
{{> modals/modals }}
<!-- / Modal Imports-->

<!-- Slideout-->
{{> slideout/slideout }}
<!-- / Slideout -->